[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "deps/ini_rw"]
	path = deps/ini_rw
	url = https://www.github.com/BttrDrgn/ini_rw
[submodule "deps/kiero"]
	path = deps/kiero
	url = https://github.com/Rebzzel/kiero
