[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/ini_rw"]
	path = deps/ini_rw
	url = https://www.github.com/BttrDrgn/ini_rw
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "deps/kiero"]
	path = deps/kiero
	url = https://github.com/BttrDrgn/kiero
